.campos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  gap: 2vh;
  font-size: 1.5rem;
}


.campos .direita,
.esquerda {
  width: 100%;
  max-width: 600px;
}

.direita {
  margin-left: 2rem;
}

.campos select,
input,
label {
  display: block;
  width: 100%;
  margin-top: 1vh;
}

.inputTexto {
  padding: 0.5em;
}

h1 {
  font-family: "Jersey 10";
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2vh;
}

.botaocadastro {
  padding: 0.1rem 0.5rem;
  font-size: 1.7rem;
  background-color: #bcc7dd;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Jersey 10", sans-serif;
  display: block;
  margin: 5vh auto 5vh;
}

.botaocadastro:hover {
  background-color: #a1b0d2;
}
