<div class="fonte startup">
    <h1>Minha Startup</h1>
    <button class="botoes">Editar</button>
    <img src="perfilFoto.png" alt="">
    <div class="campos">
        <div class="esquerda">
            <div class="nome">
                <p>Nome:</p>
                <input type="text" class="inputTexto">
            </div>


               
            <div class="descricao" >
                <p>Descrição:</p>
                <textarea name="" id="" cols="15" rows="6"></textarea>
            </div>

            <div class="qtdFuncionario">
                <p>Quantidade de Funcionários:</p>
                <input type="number" min="1" max="500" class="inputTexto">
            </div>
        </div>
        <div class="direita">
            <div class="tipoDeCliente">
                <p>Tipo de Clientes:</p>
                <select class="fonte">
                    <option value="Estadual">Local</option>
                    <option value="Nacional">Nacional</option>
                    <option value="Internacional">Internacional</option>
                </select>
            </div>
      
       
            <div class="telefone">
                <p>Telefone:</p>
                <input type="text" class="inputTexto">
            </div>

            <div class="email">
                <p>E-Mail Pessoal:</p>
                <input type="text" class="inputTexto">
            </div>

            <div class="ticket">
                <p>Ticket Médio:</p>
                <select class="fonte">
                    <option value="100">Até R$100</option>
                    <option value="100-200">De R$100 a R$200</option>
                    <option value="201-300">De R$201 a R$300</option>
                    <option value="300">R$300+</option>
                </select>
            </div>
            <p>Adicionar Video Promocional</p>
            <input type="text" class="fonte inputTexto" placeholder="Anexar Url do video">
        </div>
    </div>
</div>