<form [formGroup]="perfilForm" (ngSubmit)="atualizarStartup()">
    <div class="fonte startup">
        <h1>{{startup.nome}}</h1>

        <img [src]='startup.logo' alt="">
        <div class="campos">
            <div class="esquerda">
                <div class="nome">
                    <p>Nome:</p>
                    <input type="text" class="inputTexto" [placeholder]='startup.nome' formControlName="nome" />
                </div>

                <div class="qtdFuncionario">
                    <p>Quantidade de Funcionários:</p>
                    <input type="number" min="1" max="500" class="inputTexto"
                        [placeholder]='startup.quantidadeFuncionario' formControlName="quantidadeFuncionarios" />
                </div>

                <div class="metas">
                    <p>Metas da sua Startup:</p>
                    <input type="text" id="metas" class="inputTexto" [placeholder]='startup.metas'
                        formControlName="metas" />
                </div>
                <p>Descricao da sua Startup:</p>
                <textarea id="metas" [placeholder]='startup.descricao' formControlName="descricao"
                    class="campo-textarea"></textarea>

            </div>
            <div class="direita">

                <div class="tipoDeCliente">
                    <p>Tipo de Clientes:</p>
                    <select class="fonte">
                        <option value="Estadual">Local</option>
                        <option value="Nacional">Nacional</option>
                        <option value="Internacional">Internacional</option>
                    </select>
                </div>

                <div class="telefone">
                    <p>Telefone:</p>
                    <input type="text" [placeholder]='startup.telefoneFixo' formControlName="telefoneFixo"
                        class="inputTexto">
                </div>

                <div class="email">
                    <p>E-Mail Pessoal:</p>
                    <input type="text" [placeholder]='startup.emailPessoal' formControlName="emailPessoal"
                        class="inputTexto">
                </div>

                <div class="emailC">
                    <p>E-Mail Corporativo:</p>
                    <input type="text" [placeholder]='startup.emailCorporativo' formControlName="emailCorporativo"
                        class="inputTexto">
                </div>

                <div class="ticket">
                    <p>Ticket Médio:</p>
                    <select class="fonte">
                        <option value="100">Até R$100</option>
                        <option value="100-200">De R$100 a R$200</option>
                        <option value="201-300">De R$201 a R$300</option>
                        <option value="300">R$300+</option>
                    </select>
                </div>
                
                <p>Adicionar Video Promocional</p>
                <input type="text" class="fonte inputTexto" placeholder="Anexar Url do video">
            </div>
        </div>
        <div>
        <button class="botoes" style="margin-right: 20px;" type="button" onclick="excluirStartup()">Excluir</button>
        <button class="botoes" type="submit">Editar</button>
    </div>
    </div>
    <br>
</form>