<p>sobre works!</p>
<p>Última atualização: 13/02/2025</p>

<p>
  A Startly respeita a sua privacidade e está comprometida em proteger as
  informações pessoais que você compartilha conosco. Esta Política de
  Privacidade descreve como coletamos, usamos, compartilhamos e protegemos suas
  informações ao acessar e usar nosso site, localizado em www.startly.com.br.
</p>

<p>
  1. Informações que Coletamos Coletamos diferentes tipos de informações para
  proporcionar uma experiência personalizada e eficiente no nosso Site. As
  informações podem ser coletadas de diferentes maneiras, incluindo, mas não se
  limitando a: Informações fornecidas por você: Ao se registrar em nosso site e
  preencher formulários, podemos coletar informações como nome, e-mail, número
  de telefone, dados financeiros e outras informações necessárias. Informações
  automáticas: Quando você interage com o Site, podemos coletar informações
  automaticamente, como o endereço IP, tipo de navegador, sistema operacional,
  páginas acessadas, tempo de permanência no site e outras informações técnicas
  relacionadas ao seu uso do site.
</p>

<p>
  2. Como Utilizamos suas Informações Utilizamos as informações coletadas para
  diversas finalidades, incluindo: Fornecer e melhorar os serviços oferecidos no
  Site. Enviar comunicações informativas, se você tiver dado seu consentimento.
  Analisar tendências de uso do Site para melhorar a experiência do usuário.
  Cumprir obrigações legais e regulatórias.
</p>

<p>
  3. Compartilhamento de Informações Não compartilhamos suas informações
  pessoais com terceiros, exceto nas seguintes circunstâncias: Provedores de
  serviço: Podemos compartilhar informações com empresas terceiras que auxiliam
  na operação do nosso Site, como serviços de hospedagem e ferramentas de
  marketing. Cumprimento de obrigações legais: Podemos compartilhar informações
  pessoais quando exigido por lei ou para proteger os direitos, propriedade ou
  segurança do Site, nossos usuários ou terceiros. Transferências de negócios:
  Em caso de fusão, aquisição ou venda de ativos, suas informações podem ser
  transferidas, mas nós informaremos com antecedência.
</p>

<p>
  4. Segurança das Informações Adotamos medidas de segurança técnicas e
  organizacionais para proteger suas informações pessoais. No entanto, nenhuma
  transmissão de dados pela internet ou sistema de armazenamento eletrônico é
  completamente seguro. Embora nos esforcemos para proteger suas informações,
  não podemos garantir sua total segurança.
</p>

<p>
  5. Seus Direitos Você tem o direito de acessar, corrigir, atualizar ou excluir
  suas informações pessoais, bem como restringir ou se opor ao uso de suas
  informações, conforme permitido por lei. Para exercer esses direitos, entre em
  contato conosco através dos canais fornecidos abaixo.
</p>

<p>6. Contato</p>
<p>
  Se você tiver dúvidas sobre esta Política de Privacidade ou sobre como
  tratamos suas informações pessoais, entre em contato conosco através do e-mail
  contato startly.com.br ou pelo telefone +55 (16)99325-3540.
</p>
