<header>
  <h1 class="fonte nome">{{ startup.nome }}</h1>
  <br/>
  <img class="logo" [src]='startup.logo' alt="">
  <br>
 
  <br>
  <strong>LinkedIn:</strong><a href=""> {{ startup.linkedIn }}</a><br>

</header>

<div class="container">
  <div class="card descricao">
    <h1>Descrição:</h1>
    <p class="fonte">{{ startup.descricao }}</p>
  </div>

  <div class="card metas">
    <h1>Metas:</h1>
    <ul>
      <li class="fonte">{{ startup.metas }}</li>
    </ul>
  </div>
  <div class="carousel">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
  
    <div class="slides">
      <div class="slide"  *ngFor="let si of startup.imagens">
        <img [src]='si.imagem' alt="Imagem 1">
      </div>
    </div>
  
    <div class="nav">
      <label for="slide3">❮</label>
      <label for="slide2">❯</label>
    </div>
  </div>

  <div class="card area">
    <h1 class="fonte">Área e Tipos de Clientes</h1>
    <p class="fonte areat">
      Somos uma empresa que oferece soluções inovadoras para clientes
      {{startup.enumTipoDeAtendimento}}. Com foco em resultados e adaptação às necessidades de
      cada mercado, focando em melhorar nas áreas {{startup.atuacoes}}.
    </p>
  </div>
</div>


<div class="contatos areaContato">
<div class="dropdown">
  <button class="button" (click)="toggleMenu()">
    Entre em Contato
  </button>

  <div *ngIf="menuAberto" class="dropdown-content">
    <h2>Contato:</h2>
    <br> 
    <p>Telefone: {{ startup.telefoneFixo }}</p>
    <br>
    <p>email (Corporativo): {{ startup.emailCorporativo }}</p>
    <br>
    <p>email (Pessoal): {{ startup.emailPessoal }}</p>
  </div>
</div>
</div>