body {
    margin: 0;
    background: #fff;
    color: #000;
    padding: 2rem;
 }
    .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #dbe0ea;
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.contatos {
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.areaContato {
  width: 100%;
  text-align: center;
}

.card h2 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #000;
}

.card p,
.card ul {
  font-size: 1rem;
  line-height: 1.5;
}

.card ul {
  padding-left: 20px;
}

.area {
  width: 100%;
  background-color: #d3d6de;
  text-align: center;
}



    header {
      text-align: center;
      padding: 1rem;
    }

    .button {
      display: block;
      margin: 2rem auto;
      padding: 0.5rem 1.5rem;
      background-color: #1f2937;
      color: white;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
    }

    a {
      color: #000;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

     /* carousel  */
     .carousel {
      position: relative;
      width: 600px;
      height: 300px;
      margin: 40px auto;
      overflow: hidden;
      border: 2px solid #ccc;
      border-radius: 10px;
    }

    .slides {
      display: flex;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease;
    }

    input[type="radio"] {
      display: none;
    }

    .slide {
      width: 100%;
      flex-shrink: 0;
    }

    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* Navegação */
    .nav {
      position: absolute;
      width: 100%;
      top: 50%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
    }

    .nav label {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 10px 20px;
      cursor: pointer;
    }

    /* Movimentação dos slides com radio buttons */
    #slide1:checked ~ .slides {
      transform: translateX(0%);
    }

    #slide2:checked ~ .slides {
      transform: translateX(-100%);
    }
    #slide3:checked ~ .slides {
      transform: translateX(-100%);
    }
    #slide4:checked ~ .slides {
      transform: translateX(-100%);
    }
    #slide5:checked ~ .slides {
      transform: translateX(-100%);
    }
    #slide6:checked ~ .slides {
      transform: translateX(-100%);
    }
    #slide7:checked ~ .slides {
      transform: translateX(-100%);
    }
    #slide8:checked ~ .slides {
      transform: translateX(-100%);
    }
    #slide9:checked ~ .slides {
      transform: translateX(-100%);
    }
  
    #slide10:checked ~ .slides {
      transform: translateX(-100%);
    }
    

    .logo{
      width: 30%;
      height: auto;
    }

    .dropdown {
      position: center;
      display: inline-block;
      padding: 0.5rem 1.5rem;
    }
    
    
    .dropdown-content {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 8x 8px rgba(0,0,0,0.1);
      border-radius: 10px;
      min-width: 160px;
      z-index: 1000;
      padding: 20px;
    }
    
    .dropdown-content a {
      display: block;
      padding: 10px 16px;
      color: #333;
      text-decoration: none;
    }
    
    .dropdown-content a:hover {
      background-color: #f2f2f2;
    }

    @media (max-width: 768px) {
      .carousel {
        max-width: 600px; /* menor no tablet */
        padding-right: 3%;
      }
    }
    
    @media (max-width: 480px) {
      .carousel {
        max-width: 320px; /* menor ainda no celular */
      }
    }
    
