<div class="portifolio fonte">
  <h1>Porti<span>folio</span></h1>
</div>
<div class="page-container">
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="nome"
      (keyup.enter)="buscarStartups()"
      placeholder="Pesquisar por Nome..."
    />
    <button (click)="buscarStartups()">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>

<main>
  <div class="card-container">
    <div class="card" *ngFor="let startup of startups$ | async">
      <div class="top">
        <img [src]="startup.logo" alt="" />
      </div>
      <div class="TagLadoLado">
        <span class="tag" *ngFor="let atuacao of startup.atuacoes">{{
          atuacao.descricao
        }}</span>
      </div>

      <div class="bottom">
        <p
          class="fonte tamanho"
          style="text-align: center; font-size: xx-large"
        >
          {{ startup.nome }}
        </p>
        <hr />
        <p class="fonte tamanho texto-com-ellipsis">{{ startup.descricao }}</p>
        <span style="font-size: x-large">...</span>
        <a [routerLink]="['/startup', startup.id]" class="button">Sobre</a>
      </div>
    </div>
  </div>
</main>
<footer class="text-body-secondary py-5">
  <div class="container"></div>
</footer>
