
<div class="portifolio fonte">
  <h1>Portifolio</h1>
</div>

<div class="pesquisa">

  <input type="text" placeholder="Pesquisar" id="pesquisar" class="inputpesquisar" />
  <i class="fa fa-search"></i>
  <img src="list.png" class="menu">
</div>

<main>
  <div class="card-container">
    <div class="card" *ngFor="let startup of startups$ | async">
      <div class="top">
        <div class="logo">
          <img [src]='getLogo(startup)' alt="">
          <h1 class="fonte">{{ startup.nome }}</h1>
        </div>
               
        <span class="tag" *ngFor="let atuacao of startup.atuacoes">{{ atuacao.descricao }}</span>
      </div>
      <div class="bottom">
        <p class="fonte">{{ startup.descricao }}</p>
        <a href="#" class="button">Sobre</a>
      </div>
    </div>
  </div>
</main>




<footer class="text-body-secondary py-5">
  <div class="container">


  </div>
</footer>
<script defer src="../assets/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"></script>