<div class="portifolio fonte">
  <h1>Portifolio</h1>
</div>

<div class="page-container">
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (keyup.enter)="onSearch()"
      placeholder="Pesquisar..."
    />
    <button (click)="onSearch()">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>

<main>
  <div class="card-container">
    <div class="card" *ngFor="let startup of startups$ | async">

      {{ startup | json }}


      <div class="top">
        <h1 class="fonte">{{ startup.nome }}</h1>

          <img [src]='startup.logo' alt=""> 
       
        <div class="TagLadoLado">
          <span class="tag" *ngFor="let atuacao of startup.atuacoes">{{ atuacao.descricao }}</span>
        </div>
      </div>
      <div class="bottom">
        <p class="fonte tamanho texto-com-ellipsis">{{ startup.descricao }}</p>
        <a [routerLink]="['/startup', startup.id]" class="button">Sobre</a>
      </div>
    </div>
  </div>
</main>

<footer class="text-body-secondary py-5">
  <div class="container">


  </div>
</footer>
