<div class="page-container">
  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo da Startup" class="logo" />
  </div>

  <!-- Carrossel de imagens -->

  <!-- Lista de links -->
  <div class="links-container">
    <ul>
      <li>
        <a href="https://linkedin.com/in/exemplo" target="_blank"
          >Linkedin: wgdagydwga</a
        >
      </li>
      <li>
        <a href="https://www.exemplo.com" target="_blank"
          >Website: jhawhdgawgd</a
        >
      </li>
    </ul>
  </div>

  <!-- Fundo colorido para descrição, metas e objetivos -->
  <div class="boxes-container">
    <div class="column-left">
      <div class="info-box">
        <h3>Descrição</h3>
        <p>Esta é a descrição da startup, explicando sua visão e propósito.</p>
      </div>
      <div class="info-box2">
        <h3>Metas</h3>
        <p>
          Definir as metas principais da startup para alcançar seus objetivos
          estratégicos.
        </p>
      </div>
    </div>
    <div class="column-right">
      <div class="info-box info-box-large">
        <h3>Objetivos</h3>
        <p>
          Os objetivos específicos que a startup deseja atingir, alinhados com
          sua missão e visão.
        </p>
      </div>
    </div>
  </div>

  <!-- Área e tipos de clientes -->
  <div class="clientes-container">
    <div class="info-box">
      <h3>Área e Tipos de Clientes</h3>
      <p>
        Informações sobre a área de atuação e os tipos de clientes que a startup
        atende.
      </p>
    </div>
  </div>
</div>
