<app-base-ui>
  <router-outlet>


    <header class="navbar fonte">
      <div class="logo">
        <a href="/"><img class="logo" src="logo.png" alt="logo" /></a>
      </div>

      <!-- Botão Hamburguer e checkbox -->
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn" style="color: black; font-size: 8vh;">&equiv;</label>

      <nav class="menu">
        <a href="/">Início</a>
        <a href="#o-que-sao-startups">O que são Startups?</a>
        <a href="/portifolio">Portfólio</a>
        <a href="#sobre">Sobre</a>
      </nav>


      <div *ngIf="!this.authService.isAuthenticated(); else loggedIn">
        <div class="actions">
          <a href="/cadastro" class="btn register">Cadastrar-se</a>
          <a href="/login" class="btn login">Logar</a>
        </div>
      </div>
      <ng-template #loggedIn>
        <div class="avatar">

          <button type="button" class="button fonte perfil botao"
            (click)="goToPerfil(this.authService.startupId!)">Perfil</button>
          <button type="button" class='botao Logout' style="margin-right: 10px;" (click)="logout()">Logout</button>

        </div>
      </ng-template>
    </header>



    <br /><br />
  </router-outlet>

  <footer class="footer">
    <div class="left">
      <h4 class="title-footer">Menu</h4>

      <p class="links">
        <a href="/" title="Home">Início</a>
        <a href="#o-que-sao-startups" title="Html">O que são startups?</a>
        <a href="/portifolio" title="Css">Portifólio</a>
        <a href="#sobre" title="jQuery">Sobre</a>
      </p>



    </div>
    <!--Left-->

    <div class="right">
      <h4 class="title-footer">Contate-nos</h4>

      <form action="#" method="post">
        <p>+55 (16)99325-3540</p>
        <br />
        <p>pontstart&#64;gmail.com</p>
      </form>
    </div>
    <!--Right-->
  </footer>
</app-base-ui>