  <div class="container">
    <h2 class = 'fonte'>Recuperar <span class="highlight">Senha</span></h2>
    
    <form>
      <label for="senha-atual fonte">Senha</label>
      <input type="password" id="senha-atual" name="senha-atual" />
      
      <label for="nova-senha fonte">Nova Senha</label>
      <input type="password" id="nova-senha" name="nova-senha" />
      
      <label for="confirma-senha fonte">Confirmar Senha</label>
      <input type="password" id="confirma-senha" name="confirma-senha" />
      
      <button type="submit fonte">Altera Senha</button>
    </form>
  </div>
