<div class="container">
  <div class="conteudo">
    <img src="img2.bmp" class="img2" alt="Imagem">
    <div class="conhecer">
      <p class="p1">
        Onde ideias se tornam soluções que transformam o mundo.
      </p>
      <a href="/portifolio"><button class="botoes">Conhecer Startups</button></a>
    </div>
  </div>
</div>

<br><br>

<div class="container" id="sobre">
  <div class="conteudo">
    <div class="imagem">
      <img src="img.bmp" class="img1" alt="Imagem">
    </div>
    <div>
      <h1>Sobre a <span class="destaque">Startly</span></h1>
      <br>

      <h2>Objetivo</h2>
      <p class="p2">
        Dar visibilidade à pequenas empresas que tem ótimas idéias, mas falta recursos para completá-las.
      </p>

      <h2>Como surgiu a ideia</h2>
      <p class="p2">
        A ideia surgiu da necessidade de conectar empreendedores e suas inovações com investidores, consumidores e
        pessoas interessadas em soluções disruptivas.
      </p>

      <h2>Quem somos?</h2>
      <p class="p2">
        Somos alunos do Curso Ténico em desenvolvimento de sistemas da Etec de Matão - SP e criamos esse site para
        concluir noss TCC.
      </p>
    </div>
  </div>
</div>

<br>



<div class="container" id="o-que-sao-startups">
  <div class="conteudo2">
    <img src="img3.png" class="img3" alt="Imagem3">
    <div>
      <h1 class="oquesao">Oque são <span class="destaque">Startups </span>?</h1>



      <p class="p3">
        Startups são empresas jovens e inovadoras que buscam resolver problemas ou atender necessidades de forma
        criativa, geralmente
        usando tecnologia. Elas se destacam por serem flexíveis, crescerem rapidamente e explorarem modelos de negócios
        novos ou poucos explorados.</p>

      <p class="p3">Normalmente, as startups começam com uma ideia simples, mas têm o objetivo de escalar para alcançar
        muitos clientes e gerar grande impacto no mercado</p>
      <a href="/politica"><b>
          <p>Politica de privacidade</p>
        </b></a>
    </div>
  </div>
</div>