.img2 {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.img1 {
  width: 100%;
  max-width: 400px;
  margin-right: 10px;
  height: auto;
}

.img3 {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imagem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.texto {
  flex: 1;
  max-width: 600px;
  padding: 20px;
}

.conhecer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
}

.conteudo,
.conteudo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

.destaque {
  color: #291ba1;
}

h1,
h2 {
  font-family: "Jersey 10", serif;
}

h1 {
  font-size: 250%;
  margin: 0;
}

.oquesao {
  font-size: 250%;
  margin: 0;
  margin-top: 20px;
  text-align: left;
}

.politica {
  font-size: 2.5vh;
  color: #000000;
  text-align: center;
}

h2 {
  font-size: 150%;
}

.p1,
.p2,
.p3 {
  font-family: "Jersey 10", serif;
}

.p1 {
  color: #1b2394;
  font-size: 150%;
  text-align: center;
}

.p2 {
  color: #7f7f83;
  font-size: 150%;
}

.p3 {
  color: #000000;
  font-size: 150%;
}

button {
  display: block;
  font-size: 100%;
  margin: 20px auto;
  padding: 10px 20px;
}

.fundo {
  background-color: #b4c1cf;
  border-radius: 125px;
  margin: 30px;
  margin-bottom: 75px;
}

@media (max-width: 1024px) {
  .conteudo,
  .conteudo2 {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

  .texto {
    padding: 10px;
  }

  .imagem {
    padding: 10px;
  }

  .oquesao {
    text-align: center;
  }

  .p1,
  .p2,
  .p3 {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .img2,
  .img1,
  .img3 {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 200%;
  }

  .p1 {
    font-size: 150%;
  }

  .p2 {
    font-size: 150%;
  }

  .p3 {
    font-size: 150%;
  }

  button {
    font-size: 150%;
  }

  .destaque {
    font-size: 90%;
  }
}
