<div class="conteudo">
  <h1>Politica de Privacidade</h1>
  <div class="atualizacao"><p>Última atualização: 09/04/2025</p></div>
  <p>
    A Startly respeita a sua privacidade e está comprometida em proteger as
    informações pessoais que você compartilha conosco. Esta Política de
    Privacidade descreve como coletamos, usamos, compartilhamos e protegemos
    suas informações ao acessar e usar nosso site, localizado em
    www.startly.com.br.
  </p>
  <div class="listas">
    <ol>
      <div class="L1">
        <li>
          Informações que Coletamos
          <p>
            Coletamos diferentes tipos de informações para proporcionar uma
            experiência personalizada e eficiente no nosso Site. As informações
            podem ser coletadas de diferentes maneiras, incluindo, mas não se
            limitando a:
          </p>
          <ul>
            <li>
              Informações fornecidas por você: Ao se registrar em nosso site e
              preencher formulários, podemos coletar informações como nome,
              e-mail, número de telefone, dados financeiros e outras informações
              necessárias.
            </li>
            <li>
              Informações automáticas: Quando você interage com o Site, podemos
              coletar informações automaticamente, como o endereço IP, tipo de
              navegador, sistema operacional, páginas acessadas, tempo de
              permanência no site e outras informações técnicas relacionadas ao
              seu uso do site.
            </li>
          </ul>
        </li>
      </div>

      <div class="L2">
        <li>
          Como Utilizamos suas Informações:
          <p>
            Utilizamos as informações coletadas para diversas finalidades,
            incluindo:
          </p>
          <ul>
            <li>Fornecer e melhorar os serviços oferecidos no Site.</li>
            <li>
              Enviar comunicações informativas, se você tiver dado seu
              consentimento.
            </li>
            <li>
              Analisar tendências de uso do Site para melhorar a experiência do
              usuário.
            </li>
            <li>Cumprir obrigações legais e regulatórias.</li>
          </ul>
        </li>
      </div>

      <div class="L3">
        <li>
          Compartilhamento de Informações
          <p>
            Não compartilhamos suas informações pessoais com terceiros, exceto
            nas seguintes circunstâncias:
          </p>
          <ul>
            <li>
              Provedores de serviço: Podemos compartilhar informações com
              empresas terceiras que auxiliam na operação do nosso Site, como
              serviços de hospedagem e ferramentas de marketing.
            </li>
            <li>
              Cumprimento de obrigações legais: Podemos compartilhar informações
              pessoais quando exigido por lei ou para proteger os direitos,
              propriedade ou segurança do Site, nossos usuários ou terceiros.
            </li>
            <li>
              Transferências de negócios: Em caso de fusão, aquisição ou venda
              de ativos, suas informações podem ser transferidas, mas nós
              informaremos com antecedência.
            </li>
          </ul>
        </li>
      </div>
      <div class="L4">
        <li>
          Segurança das Informações
          <p>
            Adotamos medidas de segurança técnicas e organizacionais para
            proteger suas informações pessoais. No entanto, nenhuma transmissão
            de dados pela internet ou sistema de armazenamento eletrônico é
            completamente seguro. Embora nos esforcemos para proteger suas
            informações, não podemos garantir sua total segurança.
          </p>
        </li>
      </div>
      <div class="L5">
        <li>Seus Direitos</li>
        <p>
          Você tem o direito de acessar, corrigir, atualizar ou excluir suas
          informações pessoais, bem como restringir ou se opor ao uso de suas
          informações, conforme permitido por lei. Para exercer esses direitos,
          entre em contato conosco através dos canais fornecidos abaixo.
        </p>
      </div>
      <div class="L6">
        <li>Contatos</li>
        <p>
          Se você tiver dúvidas sobre esta Política de Privacidade ou sobre como
          tratamos suas informações pessoais, entre em contato conosco através
          do email startly&#64;gmail.com ou o telefone +55 (16)99377-2510.
        </p>
      </div>
    </ol>
  </div>
  <button class="botoes" (click)="voltar()">Voltar</button>
</div>
